* {
    padding: 0;
    margin: 0;box-sizing: border-box;
}
header {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: darkcyan;
}
img {
    width: 350px
}
nav {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 15px 40px;
    
}
nav.a {
     color: white;
    font-weight: bold;
}
body {
    font-family:  Verdana, sans-serif;
    background: #f6f6f6;
     color: #333;
}
#first-div{
    background-color:#ffe3c2;
    padding: 50px;
    display: flex;
}
.fresh {
    font-size: 35px;
    margin-bottom: 10px;
}
.o {
    margin: 15px;
    padding: 10px;
    box-sizing: border-box;
}
#images{
width: 350px;
    border-radius: 15px;
    margin-right: 40px;
    border: 4px solid white;
}


#bill {
    display: inline-block;
    margin-top: 20px;
    background: #ff4500;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
}


.main{
    padding: 40px;
}
.sa{
    text-align: center;
}
.main-container {
    
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#Popular-Dishes {
    background: #ffe3c2;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid #ddd;
    text-align: center;
    transition: 0.3s;
    

}



header {
    background: #ff8000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    color: white;
}
footer {
   background: #333;
    color: white;
    text-align: center;
    justify-content: space-between;
    padding: 25px;
    margin-top: 20px;
}